.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh; 
  }

  .container-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 1vh; 
  }

.botao {
    margin: 5px; 
  }